.col {
  border: 1px solid grey;
}

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  /*Universal Styles*/

  .featured h1,
  .featured h2,
  .featured h3 {
    color: white;
  }

  .featured {
    background-color: #212328;
  }

  .centered {
    text-align: center;
  }

  section {
    padding: 5vh 5%;
  }

  .no-padding {
    padding: 0;
  }

  body {
    font-family: 'Raleway Dots';
    color: grey;
  }

  h1, h2, h3, h4 {
    text-transform: uppercase;
    color: Teal;
    margin: .5em;
  }

  h1 {
    font-size: 7vw;
    line-height: .9em;
    font-family: 'Megrim';
    color: white;
    position: relative;
    top: 100px;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .col {
    padding: 5%;
  }

  .box-img1 {
    background-image: url('images/fire.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    min-width: 45vh;
  }

  .box-img2 {
    background-image: url('images/sound.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    min-width: 45vh;
  }

  .box-img3 {
    background-image: url('images/sky.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    min-width: 45vh;
  }
/*Navigation Bar*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  border: 1px black;
 }

 nav {
   height: 5rem;
   line-height: 5rem;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid transparent;
   padding-right: 2rem;
   padding-top: 2rem;
   background-color: rgba(255, 255, 255, 0);
 }

 .home .nav-container {
    display: flex;
  }

 nav a{
   color: white;
   position: relative;
   top: 2px;
   left: 500px;
   padding: 0 .5rem;
   text-decoration: none;
   font-weight: 300;
   transition: all 0.3s ease;
 }

 nav a:hover{
   color: #316a86;
 }

/*Banner Section*/

  #intro-banner {
    background-image: url('images/banner-img.jpg');
    background-size: cover;
    background-position: center;
    min-height: 75vh;
    text-shadow: right;
  }


  footer {
    padding: 7%;
  }
